accelerate
albumentations
bitsandbytes
datasets
einops
fvcore
hydra-core
jinja2
kaggle
loguru
monai
omegaconf
peft
pydantic
pytest
python-dotenv
pytorch_lightning
scikit-learn>=1.0.0
segmentation-models-pytorch
tensorboard
torch
torchmetrics>=0.8.2
transformers
timm
typing_extensions
wandb
lightning